<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.juity.blog.DAO.attachDao">

    <sql id="BASE_TABLE">
        t_attach
    </sql>

    <sql id="TABLE_USER">
        <include refid="com.juity.blog.DAO.userDao.BASE_TABLE"/>
    </sql>

    <sql id="BASE_COLUMNS">
        aa.id, aa.fname, aa.ftype, aa.fkey, aa.authorId, aa.created,
    </sql>

    <!-- 关联查询的用户表需要的字段 -->
    <sql id="REL_USER_COLUMNS">
        u.username,
    </sql>

    <insert id="addAttach" parameterType="com.juity.blog.POJO.attach">
        INSERT INTO
            <include refid="BASE_TABLE"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            fname, ftype, fkey, authorId, created,
        </trim>
        <trim  prefix="VALUES(" suffix=")" suffixOverrides=",">
            #{name, jdbcType=VARCHAR}, #{type, jdbcType=VARCHAR}, #{key, jdbcType=VARCHAR}, #{authorId,jdbcType=INTEGER}, UNIX_TIMESTAMP(NOW()),
        </trim>
    </insert>

    <insert id="batchAddAttach" parameterType="list" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
            <include refid="BASE_TABLE"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            fname, ftype, fkey, authorId, created,
        </trim>
        VALUES
        <foreach collection="list" item="AttAchDomain" index="index" separator=",">
            (
            <trim suffix="" suffixOverrides=",">
                #{name, jdbcType=VARCHAR}, #{type, jdbcType=VARCHAR}, #{authorId,jdbcType=INTEGER}, UNIX_TIMESTAMP(NOW()),
            </trim>
            )
        </foreach>
    </insert>

    <delete id="delAttach">
        DELETE FROM
            <include refid="BASE_TABLE"/>
        WHERE
            id = #{id, jdbcType=INTEGER}
    </delete>

    <update id="updateAttach" parameterType="com.juity.blog.POJO.attach">
        UPDATE
            <include refid="BASE_TABLE"/>
        <set>
            <if test="name != null">
                fname = #{name, jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                ftype = #{type, jdbcType=VARCHAR},
            </if>
            <if test="authorId != null">
                authorId = #{authorId,jdbcType=INTEGER},
                created = UNIX_TIMESTAMP(NOW()),
            </if>
        </set>
    </update>

    <resultMap id="attach" type="com.juity.blog.POJO.attach">
        <id property="id" column="id"/>
        <result property="name" column="fname"/>
        <result property="type" column="ftype"/>
        <result property="key" column="fkey"/>
        <result property="authorId" column="authorId"/>
        <result property="created" column="created"/>
    </resultMap>

    <resultMap id="attachDto" type="com.juity.blog.DTO.attachDto">
        <id property="id" column="id"/>
        <result property="name" column="fname"/>
        <result property="type" column="ftype"/>
        <result property="key" column="fkey"/>
        <result property="authorId" column="authorId"/>
        <result property="created" column="created"/>
    </resultMap>

    <select id="getAttachById" resultMap="attach">
        SELECT
        <trim suffix="" suffixOverrides=",">
            <include refid="BASE_COLUMNS"/>
        </trim>
        FROM
            <include refid="BASE_TABLE"/> AS aa
        WHERE aa.id = #{id, jdbcType=INTEGER}
    </select>

    <select id="getAttaches" resultMap="attachDto">
        SELECT
        <trim suffix="" suffixOverrides=",">
            <include refid="BASE_COLUMNS"/>
        </trim>
        FROM
        <include refid="BASE_TABLE"/> AS aa
        ORDER BY aa.created DESC
    </select>

    <select id="getAttachesCount" resultType="java.lang.Long">
        SELECT
           count(*)
        FROM
            <include refid="BASE_TABLE"/>
    </select>
</mapper>