<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.site.DAO.optionDao">
    <sql id="BASE_TABLE">
        t_options
    </sql>
    <sql id="BASE_COLUMNS">
        o.name, o.value,o.description
    </sql>

    <select id="getOptionByName" resultType="com.example.site.POJO.option">
        SELECT
            <include refid="BASE_COLUMNS"/>
        FROM
            <include refid="BASE_TABLE"/> as o
        WHERE
            name = #{name}
    </select>

    <select id="getOptions" resultType="com.example.site.POJO.option">
        SELECT * FROM
        <include refid="BASE_TABLE"/> as o
    </select>

    <delete id="delOptionByName">
        DELETE FROM
            <include refid="BASE_TABLE"/>
        WHERE
            name = #{name}
    </delete>

    <update id="updateOption">
        UPDATE
            <include refid="BASE_TABLE"/>
        <set>
            <if test="value != null and value != ''">
                value = #{value},
            </if>
            <if test="description != null and description != ''">
                description = #{description},
            </if>
        </set>
        WHERE
            name = #{name}
    </update>
</mapper>